.site{
    background-color: #2C2A29;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 1080px;
    max-width: 1080px;
    column-gap: 300px;

}
.Welcome {
    color: #E3E2DE;
    font: 25px sans-serif; 
    text-align: left;
    padding-left: 50px;
}
.account {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.btn {
    border: none;
    display: flex;
    margin: 10px;
    padding: 10px;
    margin-left: 50px;
    max-width: 150px;
    border-radius: 15px;
    outline: 2px;
    outline-style: solid;
    outline-color: #E3E2DE;
    background-color: #E97724;
    text-decoration: none;
    color: #E3E2DE;
    font: 14px sans-serif;
    font-weight: bold;
    
}
.list {
    display: flex;
    column-gap: 300px;
    align-items: center;
    align-content: center;
    flex-direction: column;    
    justify-content: center;

}
.title{
    color: #E3E2DE;
    font: 14px sans-serif;

}
.Input_f{
    display: flex;
}
.input {
    border-radius: 15px;
    border: none;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #E97724;
    margin-left: 10px;
    padding: 8px;
}
.btn2 {
    border: none;
    display: flex;
    border-radius: 15px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 135px;
    outline: 2px;
    outline-style: solid;
    outline-color: #E3E2DE;
    background-color: #E97724;
    text-decoration: none;
    color: #E3E2DE;
    font: 14px sans-serif;
    font-weight: bold;
}
.err1{
    position: absolute;
    font: 12px sans-serif;
    left: 580px;
    top: 65px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 135px;
    color: #e95d25;
}
.err{
    position: absolute;
    font: 12px sans-serif;
    left: 750px;
    top: 65px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 135px;
    color: #e95d25;
}
.things {
    color: #E3E2DE;
    margin-top: 20px;
    padding: 10px;
}
.things th {
    color: #E3E2DE;
    margin-top: 20px;
    padding: 10px;
}
.things td {
    color: #E3E2DE;
    padding: 5px;
    padding-left: 15px;
}
.delete a{
    text-decoration: none;
    color: #E97724;
}